.header {
  background-image: url(../img/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 300px;
  margin-left: -5%;
  margin-top: -1%;
  margin-right: -5%;
}
#logo{
  margin-top: 30px;
  width:160px;
  height:auto;
}
.header2

.hour{
  background-color: grey;

}
.time{
  background-color: red;
}
.breakfast{
  background-image: url(../img/breakfast.jpg);
  height:120px;
  text-align: center;
  padding:0;
  margin:0;
}
.lunch{
  background-image: url(../img/lunch.jpg);
  height:120px;
  text-align: center;
  padding: 0;
  margin:0;
}
.dinner{
  background-image: url(../img/dinner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:120px;
  text-align: center;
  padding: 0;
  margin:0
}
.fastfood2{
  height:120px;
  padding-bottom: 50px;
}
.fastfood1{
  height:120px;
  padding-bottom: 50px;
}
.col-md-6{
  border: 2px solid black;
padding-left: 70px;
}
.edit{
  border: 10px

}
.drinkstext{
  border: 10px;
}
.drinksimages{
  border: 10px

}
.drink1{
  background-image: url(../img/drink1.jpg);
  border:0;
  margin:0;
  height: 300px;

}
.drink2{
  background-image: url(../img/drink2.jpg);
  border:0px;
  margin:0;
  height: 300px;
}
.crow5{
  background-image: url(../img/backgrounds/foodsBg.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
}
.ali{
  text-align: center;
  margin: 0;
  border:0;

}
.aboutus{
  border: 0;
  text-align: center;
  margin-left: 0;
}
.daily{
  background-image: url(../img/backgrounds/subscribe.jpg);
  background-size: cover;
  background-position: center;
  height:500px;
  text-align: center;
  text-decoration-color: white;
}
.mwisho{
  background-color: rgb(232,44,12);
  height:300px

}
